<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Org_Coach</servlet-name>
        <servlet-class>Register_Manager.Org_Coach</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Org_Consultancy</servlet-name>
        <servlet-class>Register_Manager.Org_Consultancy</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Org_Club</servlet-name>
        <servlet-class>Register_Manager.Org_Club</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Org_Coach</servlet-name>
        <url-pattern>/Org_Coach</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Org_College</servlet-name>
        <servlet-class>Register_Manager.Org_College</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Org_College</servlet-name>
        <url-pattern>/Org_College</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Org_SchoolReg</servlet-name>
        <servlet-class>Register_Manager.Org_SchoolReg</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Org_SchoolReg</servlet-name>
        <url-pattern>/Org_SchoolReg</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Org_University</servlet-name>
        <servlet-class>Register_Manager.Org_University</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Org_University</servlet-name>
        <url-pattern>/Org_University</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Register_management</servlet-name>
        <servlet-class>Register_Manager.Register_management</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Register_management</servlet-name>
        <url-pattern>/Register_management</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Org_Consultancy</servlet-name>
        <url-pattern>/Org_Consultancy</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Org_Club</servlet-name>
        <url-pattern>/Org_Club</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
